* {
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body {
    font-size: 16px;
    background-color: #6dc3e5;
}

.main_banner {
    font-size: 25px;
    margin: 5px;
    padding: 7px;
    text-align: center;
    background-color: #FFD845;
    color: #252627;
    width: 250px;
    border-radius: 15px;
    margin: 0 auto;   /*srodkowanie*/
}

.container div {
    display: inline-block;
    padding: 8px;
    color: #470047;
    font-size: 20px;
    background-color: #FFD845;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
}

.container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.content {
    width: 330px;
    margin: 0 auto;
}

.btn {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 125px;
    height: 30px;
    color: bisque;
    border-radius: 5px;
    background-color: #E66115;
    display: block;       /*srodkowanie*/
    margin: 10px auto;    /*srodkowanie*/
}

.btn:hover {
    background-color: #b84d10;
}

.footer-nav {
    margin-top: 100px;
}

.footer-nav ul li {
    padding: 8px;
    border: solid 2px;
    border-color: #6dc3e5; /*myk - kolor border w kolorze tła body, żeby napisy nie "skakały", gdy po hoverze element ma granicę*/
    list-style-type: none;
    display: inline-block;
}

.footer-nav a{
    color: inherit;
}

.background:hover {
    background-image: url(images/cream-circle.png);
    color: #E66115;
    border-color: #E66115;
    border: solid 2px;
    border-radius: 15px;
}

.addText {
    margin: 0;
    font-size: 13px;
}

.content {      /*do wysrodkowania*/
     
}